@font-face {
  font-family: "Fraunces";
  src: local("Fraunces"), url(/Fraunces.ttf) format("TrueType");
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope"), url(/Manrope.ttf) format("TrueType");
}

:root {
  --white: #ffffff;
  --eucaplyptus: #44ffa1;
  --ghost-white: #fcf8ff;
  --davys-grey: #584d62;
  --dark-purple: #24053e;

  background-color: var(--white);
}

main {
  min-height: 100vh;
  min-height: 100svh;
}

.header {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 375 482' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H375.303V464C375.303 464 282.249 481.707 188.173 481.707C94.0966 481.707 0 464 0 464V0Z' fill='%2324053E'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  padding: 3.2rem 1.6rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 6.4rem;
  background-color: var(--ghost-white);
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__cta {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: -0.016rem;
  color: var(--white);
  border-bottom: 3px solid var(--eucaplyptus);
}

.copywrite {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  align-items: center;
}

.copywrite__heading {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 5rem;
  line-height: 5rem;
  text-align: center;
  color: var(--white);
}

.copywrite__heading--emphasize {
  position: relative;
}

.copywrite__heading--emphasize::after {
  content: "";
  position: absolute;
  inset: 0;
  top: 90%;
  background-color: var(--eucaplyptus);
  height: 3px;
}

.copywrite__cta {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: -0.016rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--eucaplyptus);
  width: fit-content;
}

.header__image {
  padding-inline: 1rem;
}

.container--points {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 375 1071' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H375.303V1053C375.303 1053 282.249 1070.71 188.173 1070.71C94.0966 1070.71 0 1053 0 1053L0 0Z' fill='%23FCF8FF'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 6.3rem 1.6rem 7.1rem;
  padding: 26.3rem 1.6rem 7.1rem;
  margin-top: -20rem;
}

.point {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point__iterator {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.6rem;
  border: 1px solid var(--davys-grey);
  border-radius: 100%;
  width: 4.8rem;
  height: 4.8rem;
  display: grid;
  place-items: center;
  color: var(--dark-purple);
}

.point__heading {
  margin-top: 2.4rem;
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 3.6rem;
  color: var(--dark-purple);
}

.point__description {
  margin-top: 1.6rem;
  font-family: "Manrope";
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--davys-grey);
}

.container--founder {
  margin-top: 10rem;
  padding-inline: 1.6rem;
}

.test {
  margin-top: -5.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.2rem 3.1rem;
  background-color: var(--dark-purple);
  color: var(--white);
  text-align: center;
  position: relative;
}

.test__heading {
  font-family: "Fraunces";
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.8rem;
}

.test__description {
  margin-top: 1.6rem;
  font-family: "Manrope";
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.test__cta {
  margin-top: 2.4rem;
  font-family: "Manrope";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: -0.016rem;
  padding: 1.2rem 2.35rem;
  background-color: var(--eucaplyptus);
  color: var(--dark-purple);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5.762rem;
  padding-block: 7.4rem 6.378rem;
}

.container--icons {
  display: flex;
  column-gap: 2.8rem;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url(/bg-pattern-1.svg), url(/bg-pattern-2.svg),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 768 541' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H768V504C768 504 577.579 540.236 385.067 540.236C192.554 540.236 0 504 0 504V0Z' fill='%2324053E'/%3E%3C/svg%3E%0A");
    background-position: top 7.2rem left -21.7rem, top 25rem right -9.4rem, top;
    padding: 3.2rem 4rem 0;
    row-gap: 5.6rem;
  }

  .copywrite__heading {
    font-size: 6rem;
    line-height: 6rem;
    max-width: 13ch;
  }

  .header__image {
    padding-inline: 11.1rem;
  }

  .container--points {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 768 636' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H768V610.97C768 610.97 577.579 636 385.067 636C192.554 636 0 610.97 0 610.97V0Z' fill='%23FCF8FF'/%3E%3C/svg%3E%0A");
    row-gap: 4.8rem;
    padding: 5.6rem 9.8rem 10.4rem;
    margin-top: unset;
  }

  .point {
    display: grid;
    grid-template-columns: 4.8rem 1fr;
    gap: 1.6rem 3.2rem;
  }

  .point__iterator {
    grid-row: span 2 / span 2;
  }

  .point__heading {
    margin-top: unset;
  }

  .point__description {
    margin-top: unset;
    text-align: start;
  }

  .container--founder {
    padding-inline: 4rem;
  }

  .founder__image {
    width: 28.1rem;
    height: 28.1rem;
  }

  .test {
    margin-top: -13rem;
    align-items: flex-start;
    padding: 4.8rem 5.6rem 5.6rem;
    text-align: start;
    max-width: 51.4rem;
    margin-left: auto;
    position: relative;
  }

  .test__heading {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  .test__description {
    margin-top: 2.4rem;
  }

  .test__asset {
    position: absolute;
    bottom: -10rem;
    right: 0;
  }

  .footer {
    row-gap: 5.8rem;
    padding-block: 8rem 12.178rem;
  }
}
